a {
	text-decoration: none;
	color: #e25454;
	font-family: inherit;
	font-size: inherit;
}
a:hover {
    text-decoration: underline;
   }
article b {
	font-family: Verdana, sans-serif;
	font-size: 15px;
}
article hr {
	width: 70%;
}
article img {
	outline: 1px solid black;
	width: 150px;
}
article img:hover {
	outline: none;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
	background-color: #f8f8f8;
}
#container {
	height: auto;
	margin: auto;
	width: 1000px;
}
.description {
	background-color: #eaeaea;
}
.description_properties {
	color: grey;
	list-style-image: url(../img/boo.png);
}
.description_table {
	width: 90%;
	border-width: 1px;
	border-color: #484343;
	border-style: solid;
	margin: auto;
	border-collapse: collapse;	
	font-family: Verdana, sans-serif;
	font-size: 14px;
	color: #484343;
}
.description_table tr, td {
	border-width: 1px;
	border-color: #484343;
	border-style: solid;
	padding: 5px 5px 5px 5px;
}
.description_table tr:first-child td {
	height: 30px;
	font-weight: 600;
	text-align: center;
	font-size: 15px;
}
.description_table_subcaption {
	width: 150px;
	font-weight: 600;
}
.description_table_notes {
	width: 250px;
	font-size: 13px;
}
footer {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	margin: 20px auto;
}
.full_description {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.full_description:first-letter {
	color: black;
	font-weight: 500;
	font-family: Tahoma, sans-serif;
}
h1 {
	font-family: Verdana, sans-serif;
	font-size: 35px;
	font-style: bold;
}
h2 {
	font-family: Verdana, sans-serif;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	color: #e25454;
}
header {
	height: 150px;
}
header img {
	width: 500px;
	padding: 20px 0 0 0;
}
.submit:active {
	background: white;
}
.input_long {
	width: 500px;
}
.input_name, .input_email {
	width: 300px;
	font-family: Verdana, sans-serif;
}
.input_email:valid {
	color: black;
	background: #dfd;
}
.input_text {
	width: 600px;
	height: 400px;
}
.input_text, form input {
	font-family: Verdana, sans-serif;
	font-size: 15px;
	color: grey;
}
.input_name, .input_long, .input_text {
	text-transform: capitalize;
}
main {
	width: 90%;
	max-width: 1000px;
	height: auto;
	margin: auto;
	text-align: justify;
	font-size: 18px;
}
header hr, footer hr {
	width: 1100px;
}
nav {
	font-family: Verdana, sans-serif;
	margin: -15px 0 0 0;
}
nav a:hover {
	color: red;
}
nav li {
	display: inline;
}
nav ul {
	list-style-type: none;
	padding: 0;
}
.regular_text {
	font-family: Verdana, sans-serif;
	font-size: 15px;
}
.regular_text a {
	color: inherit;
}
.separator {
	width: 90%;
	border-bottom: 1px solid black;
	margin: auto;
}
.short_description {
	color: #494343;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
.yandex-map {
	border: 1px solid black;
	width: 500px;
}
